body {
  margin: 0;
  background: lightblue;
  font-family: Handjet, Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 102px;
}

.choice {
  display: flex;
  justify-content: center;
  font-size: 52px;
  color: rgb(176, 27, 161);
}

.pick {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  margin: 25px;
}

button {
  background: lightblue;
  border: 6px solid red;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 32px;
  font-family: Handjet, Arial, Helvetica, sans-serif;
  font-weight: 200;
}

button:hover {
  background-color: white;
  color: red;
  font-weight: 900;
  font-size: 72px;
  transform: scale(1.1);
  transition: transform, 0.2s;
}

.output,
.playerChoice,
.computerChoice {
  display: flex;
  justify-content: center;
  font-size: 32px;
}

.reset {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
  
}



